In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

# (1) Series

### Initialization

In [2]:
s1 = Series([10,  3,  7,5], index=['a','b','c','d']) # from list
s1

a    10
b     3
c     7
d     5
dtype: int64

In [3]:
s2 = Series(np.array([10,  3,  7,5]), index=['a','b','c','d']) # from array
s2

a    10
b     3
c     7
d     5
dtype: int64

In [4]:
s3 = Series({'a':10, 'b':3, 'c':7, 'd':5, 'e':6}) # from dictionary
s3

a    10
b     3
c     7
d     5
e     6
dtype: int64

In [5]:
s4 = Series({'a':10, 'b':3, 'c':7, 'd':5, 'e':6}, index=['a','b']) # initalize with a subset of values
s4

a    10
b     3
dtype: int64

In [6]:
s5 = Series(s1) # from series
s5

a    10
b     3
c     7
d     5
dtype: int64

In [7]:
s6 = Series(5, index=['a','b','c','d','e'])
s6

a    5
b    5
c    5
d    5
e    5
dtype: int64

### Attributes

In [8]:
s1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
s1.dtypes

dtype('int64')

In [10]:
s1.values

array([10,  3,  7,  5])

In [11]:
s1.shape

(4,)

In [12]:
# selection
s1[:3]

a    10
b     3
c     7
dtype: int64

In [13]:
s1['a']

10

In [14]:
'a' in s1 # check if 'a' is an index of s1

True

In [15]:
# compatibility with numpy

In [16]:
np.sum(s1)

25

In [17]:
1/s1

a    0.100000
b    0.333333
c    0.142857
d    0.200000
dtype: float64

In [18]:
s1['x']=9 # setting values
s1

a    10
b     3
c     7
d     5
x     9
dtype: int64

In [19]:
s1['y']=None # setting null values
s1['z']=np.nan
s1

a      10
b       3
c       7
d       5
x       9
y    None
z     NaN
dtype: object

In [20]:
s1.isnull()

a    False
b    False
c    False
d    False
x    False
y     True
z     True
dtype: bool

In [21]:
del s1['y'] # removing items
s1

a     10
b      3
c      7
d      5
x      9
z    NaN
dtype: object

## Data alignment

In [22]:
s1 = Series([1,2,3],index=['a','b','c'])
s2 = Series([40,30,20],index=['d','c','b'])
print('s1\n',s1,'\n')
print('s2\n',s2)

s1
 a    1
b    2
c    3
dtype: int64

s2
 d    40
c    30
b    20
dtype: int64

In [23]:
s1+s2

a     NaN
b    22.0
c    33.0
d     NaN
dtype: float64

In [ ]:
s1.add(s2, fill_value=0)

In [ ]:
(s1+s2).dropna()

## (2) DataFrame

In [26]:
# initalize dataframe using dictionary of columns
data = {'a':[1,2,3], 'b':[1.1,-0.3,7], 'c':[True,False,True], 'd':['these','are','strings']}
print(data)
df = DataFrame(data, index=['one','two','three'])
df

{'b': [1.1, -0.3, 7], 'd': ['these', 'are', 'strings'], 'c': [True, False, True], 'a': [1, 2, 3]}

       a    b      c        d
one    1  1.1   True    these
two    2 -0.3  False      are
three  3  7.0   True  strings

In [ ]:
# intialize dataframe using matrix representation (list of lists)
d = [[1 ,1.1 ,True ,'these'],[2 ,-0.3 ,False,'are'],[3 ,7.0 ,True ,'strings']]
DataFrame(data=d, columns=['a','b','c','d'],index=['one','two','three'])

In [ ]:
df.index

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
df.shape

In [ ]:
df['a'] # extract column as series

In [ ]:
df['new']=5 # add new column
df

In [ ]:
df['new']=df['a']+df['b'] 
df

In [ ]:
del df['new'] # remove column
df

In [ ]:
s = Series([100, 300, 400], index=['one','three','four'])
df['new from series']=s # create column from series (aligns indexes)
df

In [ ]:
df['new from list']=[7,8,9] # list/array length must be the same
df

In [ ]:
df.insert(3,'new3',[10,11,12])
df

## Exploring data

In [ ]:
df.info()

In [ ]:
df.head(2) # returns a dataframe holding the first two rows

In [ ]:
df.tail(2) # returns a dataframe holding the last two rows

In [ ]:
df.describe() # statistical summary (on numeric values)

### Exploring series

In [ ]:
s = Series(np.random.randint(1,101,1000)) # create a series with 1000 random integers between [1,100]
s.head(5)

In [ ]:
s.describe()

In [ ]:
s.sum()

In [ ]:
s.std()

In [ ]:
s.quantile(0.8)

In [ ]:
s.idxmax()

In [ ]:
s[s.idxmax()]

In [ ]:
s.value_counts()

# (3) Indexing (may skip to the function .ix)
- positional
- label
- boolean
- ix (tries to guess according to the input)

In [6]:
data = {'grade':[90, 80, 75, 95],
        'age':[25,40,35,32],
        'country':['Mexico','USA','Canada','Bolivia'],
        'major':['Computer science','Electrical engineering','Biology','Political science']}

df = DataFrame(data,index=['Alice','Bob','James','David'])
print(df)

       age  country  grade                   major
Alice   25   Mexico     90        Computer science
Bob     40      USA     80  Electrical engineering
James   35   Canada     75                 Biology
David   32  Bolivia     95       Political science

In [7]:
s = df.age # equivalent to s = df['age']
print(s)

Alice    25
Bob      40
James    35
David    32
Name: age, dtype: int64

### Selection by label (series)

In [ ]:
# series
s.loc['Alice']

In [ ]:
s.loc[['Alice','David']]

In [ ]:
s.loc['Alice':'James'] # inclusive, by index order (not lexicographically!)

In [ ]:
s['Alice']

### Selection by label (dataframes)

In [ ]:
# dataframes
df.loc['Alice']

In [ ]:
type(df.loc['Alice'])

In [ ]:
df.loc[['Alice','David']]

In [ ]:
type(df.loc[['Alice','David']])

In [ ]:
df.loc['Alice':'James'] # inclusive and not by lexicographical order

In [ ]:
df.loc['Alice':'James',['age','country']] # filter rows and columns

### Selection by position (series)

In [ ]:
print(s)

In [9]:
s.iloc[-1]

32

In [ ]:
s.iloc[:2] # exclusive (index 2 is not included)

In [ ]:
s.iloc[[0,3]]

### Selection by position (dataframe)

In [ ]:
print(df)
df.iloc[0] # equivalent to df.iloc[0,:]

In [ ]:
df.iloc[0,1] # row 0, column 1

In [ ]:
df.iloc[1:3,1:3] # exclusive

In [ ]:
df.iloc[[0,3],[1,2]] # rows 0,3 and columns 1,2

### Selection by boolean array

In [ ]:
s.loc[s>30]

In [ ]:
df.loc[df.age>30]

In [ ]:
df.loc[df.index.isin(['David','Alice'])]

### Operator[ ]

In [5]:
s = df.age
s

NameError: name 'df' is not defined

In [ ]:
s['Alice']

In [ ]:
s['Alice':'Bob']

In [ ]:
s[['Alice','Bob']]

In [ ]:
s[-1]

In [ ]:
s[1:3]

In [ ]:
s = Series([0,1,2],index=[100,101,102]) # expect error - when index is numeric, the operator [] uses index value rather than location
s[1]

In [ ]:
df[df['age']<30]

In [ ]:
df[['age','country']]

## ix

In [ ]:
df

In [ ]:
# return row
df.ix['Alice']

In [ ]:
# multiple rows
df.ix[['Alice','Bob']]

In [ ]:
# multiple rows
df.ix['Alice':'James'] # inclusive (not by lexicographical order)

In [ ]:
# return column (as Series)
df.ix[:,'age']

In [ ]:
# return multiple columns 
df.ix[:,['age','grade']]

In [ ]:
df.ix[1:3,:]  # Postional: rows 1 to 3 (exclusive)

In [ ]:
df.ix[:,1:3] # extract columns 1 and 2

In [29]:
df.ix[df['grade']>80] # boolean indexing

       age  country  grade              major
Alice   25   Mexico     90   Computer science
David   32  Bolivia     95  Political science

# Exercise 1

Create a 4x5 array with the values 1..20. Use it to initalize a DataFrame with similar dimensions whose column names are a,b,c,d,e, and whose index values are w,x,y,z.
1.  Print the row whose index is "y"
2.  Print the column whose name is "e"
3.  Print the second row
4.  Print the third column
5.  Print the DataFrame with columns a and d, which contains all indices between w-y

In [49]:
# write solution here
a = np.arange(1,21).reshape((4,5))
a
df = DataFrame(a,index = ['w','x','y','z'], columns=list("abcde"))
df
df.ix['y',:]
df.ix[:,'e']

w     5
x    10
y    15
z    20
Name: e, dtype: int64

<br style=margin:500px;>
___

In [ ]:
# solution
a = np.arange(1,21).reshape((4,5))
a

In [ ]:
df = DataFrame(a, index=['w','x','y','z'], columns=list("abcde"))
df

In [ ]:
df.ix["y"]

In [ ]:
df.ix[:,"e"]

In [ ]:
df.ix[1]

In [ ]:
df.ix[:,2]

In [ ]:
df.ix["w":"y",["a","d"]]

# (5) Merging DataFrames

### Motivating example

In [ ]:
df_items = pd.read_csv("items.csv")
df_items

In [ ]:
df_rates = pd.read_csv("exchange_rates_oct18.csv")
df_rates.head(5)

In [ ]:
df_merged = pd.merge(df_items, df_rates, how='left', left_on="currency", right_on="Code")
df_merged

In [ ]:
df_merged['Sales (USD)']=df_merged['price']*df_merged['USD/1Unit']
df_merged

## Column based merging

In [ ]:
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"], "key":['k0','k1','k2']})
df1

In [ ]:
df2 = DataFrame({"C":["C0","C1","C3"], "D":["D0","D1","D3"], "key":['k0','k1','k3']})
df2

### * Join types

In [ ]:
pd.merge(df1, df2, on="key", how="inner") # only indices that exists in both df1 and df2

In [ ]:
pd.merge(df1, df2, on="key", how="outer") # indices that exist in either df1 or df2

In [ ]:
pd.merge(df1, df2, on="key", how="left") # indices from df1

In [ ]:
pd.merge(df1, df2, on="key", how="right") # indices from df2

In [ ]:
# different names for key columns
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"], "key1":['k0','k1','k2']})
print(df1)
df2 = DataFrame({"C":["C0","C1","C3"], "D":["D0","D1","D3"], "key2":['k0','k1','k3']})
print(df2)

In [ ]:
pd.merge(df1,df2,how='inner',left_on="key1", right_on="key2")

In [ ]:
# distinguish between similar column names by adding a suffix
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"], "key":['k0','k1','k2']})
print(df1)
df2 = DataFrame({"A":["C0","C1","C3"], "B":["D0","D1","D3"], "key":['k0','k1','k3']})
print(df2)
pd.merge(df1,df2,how='inner',on="key")

In [ ]:
pd.merge(df1,df2,how='inner',on="key",suffixes=('_tbl1', '_tbl2'))

## * Index based merging

In [3]:
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"]}, index=['i0','i1','i2'])
print(df1)
df2 = DataFrame({"C":["C0","C1","C3"], "D":["D0","D1","D3"]}, index=['i0','i1','i3'])
print(df2)

     A   B
i0  A0  B0
i1  A1  B1
i2  A2  B2
     C   D
i0  C0  D0
i1  C1  D1
i3  C3  D3

In [4]:
pd.merge(df1, df2, left_index=True, right_index=True, how="outer")

      A    B    C    D
i0   A0   B0   C0   D0
i1   A1   B1   C1   D1
i2   A2   B2  NaN  NaN
i3  NaN  NaN   C3   D3

# (6) Concatenate

### Vertical concatenation

In [ ]:
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"]})
df2 = DataFrame({"A":["A3","A4","A5"], "B":["B3","B4","B5"]})
print(df1,"\n",df2)

In [ ]:
pd.concat([df1,df2],axis=0)

In [ ]:
# restart index
pd.concat([df1,df2],axis=0,ignore_index=True)

In [ ]:
df3 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"]})
df4 = DataFrame({"A":["A3","A4","A5"], "C":["C3","C4","C5"]})
print(df3,"\n",df4)

In [ ]:
# return columns that exist in both dataframes
pd.concat([df3,df4],axis=0,join='inner')

In [ ]:
# return columns that exist either dataframes
pd.concat([df3,df4],axis=0,join='outer')

### Horizontal concatenation

In [ ]:
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"]}, index=[0,1,2])
df2 = DataFrame({"C":["C0","C1","C3"], "D":["D0","D1","D3"]}, index=[0,1,3])
print(df1,"\n",df2)

In [ ]:
pd.concat([df1,df2],axis=1)

In [ ]:
pd.concat([df1,df2],axis=1,join='inner')

In [ ]:
# Using concat with Series
s1 = Series(['a','b','c'], index=[1,2,3])
s2 = Series(['x','y','z'], index=[1,5,6])

In [ ]:
pd.concat([s1,s2], axis=0) # returns Series

In [ ]:
pd.concat([s1,s2], axis=1) # returns DataFrame

In [ ]:
# concatenate dataframe and series
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"]}, index=[0,1,2])
s1 = Series(['x','y','z'],index=[0,1,3])
s1.name='Data from series'
print(df1,'\n\n',s1,'\n\n')
pd.concat([df1,s1],axis=1)

In [ ]:
# difference between merge and concatenate
df1 = DataFrame(['a','b','c','d'],index=[1,1,2,3])
df2 = DataFrame(['x','y','z'],index=[1,1,4])
print(df1,'\n\n',df2)

In [ ]:
pd.merge(left=df1,right=df2,left_index=True,right_index=True)

In [ ]:
pd.concat([df1,df2])

In [ ]:
# concat is not meant for cartesian product - expect an error
pd.concat([df1,df2],axis=1)

---

# Exercise 2

The files grades1.csv, grades2.csv, and grades3.csv contain information about students grades. 
1. Use pandas read_csv command to load each of the files into a separate DataFrame (e.g., pd.read_csv("data/grades1.csv"))
2. Print the DataFrames to screen
3. Consolidate the data into a single dataframe
4. The file 'student_program.csv' contains information about each student program. Create a DataFrame that contains student grades, and program information (where available). Keep records for which the grade is available but the information about the program is missing. 
5. Challange: automate the code to read and process csv files in the current directory that begin with the word 'grades'.

In [58]:
# write solution here
data1 = pd.read_csv("grades1.csv")
data2 = pd.read_csv("grades2.csv")
data3 = pd.read_csv("grades3.csv")
for df in [data1,data2,data3]:
    print(df, '\n')
df_grade = pd.concat([data1,data2,data3])
df = pd.read_csv("student_program.csv")
pd.merge(df_grade,df,how="left")

    Name  Grade
0  Alice     90
1    Bob     85

    Name  Grade
0  Cathy     87
1   Dave     80

   Name  Grade
0  Elsa     95
1  Fred     97

    Name  Grade Program
0  Alice     90     MBA
1    Bob     85    MSBA
2  Cathy     87    MSBA
3   Dave     80     NaN
4   Elsa     95     NaN
5   Fred     97     MBA

<br style=margin:500px;>
___

In [ ]:
# solutions to 1 and 2
df1 = pd.read_csv("grades1.csv")
df2 = pd.read_csv("grades2.csv")
df3 = pd.read_csv("grades3.csv")
for df in [df1,df2,df3]:
    print(df,'\n')

In [ ]:
# solution to 3
pd.concat([df1,df2,df3])

In [ ]:
# solution to 4
!cat "student_program.csv"

In [ ]:
df_grades = pd.concat([df1,df2,df3])
df_program = pd.read_csv("student_program.csv")
pd.merge(df_grades,df_program,how="left")

In [ ]:
# solution to 5
file_names = !ls grades*.csv
df_list = list(map(lambda f: pd.read_csv(f), file_names))
pd.concat(df_list).reset_index(drop=True)

---

# (7) Group By

### Split using groupby

In [63]:
df = DataFrame({"student":["Alice","Alice","Alice","Bob","Bob","Bob"],
                "course":['C1','C2','C3','C1','C2','C3'],
                "hw1":[80,70,90,95,84,60],
                "hw2":[80,90,85,70,100,80],
                "exam":[90,100,60,87,94,88],
                "final":list("AABAAA")},columns=["student","course","hw1","hw2","exam","final"])
df

  student course  hw1  hw2  exam final
0   Alice     C1   80   80    90     A
1   Alice     C2   70   90   100     A
2   Alice     C3   90   85    60     B
3     Bob     C1   95   70    87     A
4     Bob     C2   84  100    94     A
5     Bob     C3   60   80    88     A

In [69]:
# Split by student
grouped = df.groupby('student')

# Conceptually, each group is a dictionary of keys and DataFrames. 
for a,b in grouped:
    print('key:',a)
    print(b,'\n')

key: Alice
  student course  hw1  hw2  exam final
0   Alice     C1   80   80    90     A
1   Alice     C2   70   90   100     A
2   Alice     C3   90   85    60     B

key: Bob
  student course  hw1  hw2  exam final
3     Bob     C1   95   70    87     A
4     Bob     C2   84  100    94     A
5     Bob     C3   60   80    88     A

In [66]:
# Split by course
grouped = df.groupby('course')

for k,d in grouped:
    print('key:',k)
    print(d,'\n')

key: C1
  student course  hw1  hw2  exam final
0   Alice     C1   80   80    90     A
3     Bob     C1   95   70    87     A

key: C2
  student course  hw1  hw2  exam final
1   Alice     C2   70   90   100     A
4     Bob     C2   84  100    94     A

key: C3
  student course  hw1  hw2  exam final
2   Alice     C3   90   85    60     B
5     Bob     C3   60   80    88     A

In [ ]:
# get specific group
grouped = df.groupby('course')
grouped.get_group('C2') # equivalent to df[df['course']=='C2']

In [ ]:
df

In [ ]:
# Split by custom column values
grouped = df.groupby([8,8,8,9,8,9])

for k,d in grouped:
    print('key:',k)
    print(d,'\n')

In [ ]:
# group over multiple columns
grouped = df.groupby(['student','course'])

for k,d in grouped:
    print('key:',k)
    print(d,'\n')

In [ ]:
# view groups keys and DataFrame indices
grouped = df.groupby('course')
grouped.groups

In [ ]:
df

In [ ]:
# split horizontally
grouped = df.groupby([1,2,2,1,1,1],axis=1)
for l,d in grouped:
    print('key:',l)
    print(d,'\n')

In [ ]:
df

In [ ]:
# filter out groups

def f(df_):
    # returns true if the average exam grade in a grades dataframe is above 85
    return(np.mean(df_['exam'])>85)

df.groupby('course').filter(f) # equivalently: df.groupby('course').filter(lambda df_:np.mean(df_['exam'])>85)

### Apply-combine using agg

In [70]:
df

  student course  hw1  hw2  exam final
0   Alice     C1   80   80    90     A
1   Alice     C2   70   90   100     A
2   Alice     C3   90   85    60     B
3     Bob     C1   95   70    87     A
4     Bob     C2   84  100    94     A
5     Bob     C3   60   80    88     A

In [71]:
# average numeric columns in each group
df.groupby('student').agg(np.mean)

               hw1        hw2       exam
student
Alice    80.000000  85.000000  83.333333
Bob      79.666667  83.333333  89.666667

In [72]:
df.groupby('course').agg(np.mean)

         hw1   hw2  exam
course
C1      87.5  75.0  88.5
C2      77.0  95.0  97.0
C3      75.0  82.5  74.0

In [ ]:
# apply multiple summary functions (returns dataframe with multi-level indexing)
df.groupby('course').agg([np.mean, np.std, max])

In [ ]:
d = df.groupby('course').agg([np.mean, np.std, max])
d['hw1']

In [ ]:
d['hw1']['mean']

In [ ]:
# apply different functions for different columns
df.groupby('course').agg({'hw1':np.mean,
                          'exam':np.max})

### Apply-combine using apply

In [ ]:
df.groupby('course').apply(lambda d:d.describe())

# Exercise 3

The file "iris.data" is one of the most well known datasets, which contains information about the Iris plant. Each row represent an iris, and the columns represent the following attributes: sepal length, sepal width, petal length, petal width, and the class.
1. Construct a DataFrame holding the average value of each attribute per class
2. Construct a DataFrame holding the minimal, average, and maximal values of each attribute per class

Soure: http://archive.ics.uci.edu/ml/datasets/Iris

In [60]:
# write solution here
iris = pd.read_csv("iris.data", names = ['sepal length', 'sepal width', 'petal length', 'petal width', 'the class'])
iris.groupby('the class').agg(np.mean)

                 sepal length  sepal width  petal length  petal width
the class
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

<br style=margin:500px;>
___

In [ ]:
iris = pd.read_csv("iris.data", names=['sepal length','sepal width','petal length','petal width','class'])

In [ ]:
iris.head()

In [ ]:
iris.groupby('class').agg(np.mean)

In [ ]:
iris.groupby('class').agg([np.min, np.mean, np.max])

# (8) Pivot table

In [73]:
# Data source: http://archive.ics.uci.edu/ml/datasets/Adult

adult = pd.read_csv("adult.data", 
                    names=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income'],
                    skipinitialspace=True)

In [74]:
adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [75]:
adult.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [83]:
adult['over50k']=np.array(adult['income']=='>50K',dtype='int')
adult

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,over50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,0
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,1
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,1
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,1
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,1
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K,1
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,0
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K,0
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K,1
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K,0
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K,0
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K,0
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K,0
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K,1
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,1
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K,0
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K,0
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K,0
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K,0
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K,1
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K,0
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K,1
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K,0
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K,0
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,1
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K,1
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K,0
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K,0
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K,1
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K,0
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K,1
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K,1
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K,0
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K,0
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K,0
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K,0
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K,0
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,1
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K,0
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K,0
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K,0
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K,0
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,0
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K,0
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,0
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K,0
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,1
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,1

In [77]:
adult.groupby('education').agg(np.mean)['over50k']

education
10th            0.066452
11th            0.051064
12th            0.076212
1st-4th         0.035714
5th-6th         0.048048
7th-8th         0.061920
9th             0.052529
Assoc-acdm      0.248360
Assoc-voc       0.261216
Bachelors       0.414753
Doctorate       0.740920
HS-grad         0.159509
Masters         0.556587
Preschool       0.000000
Prof-school     0.734375
Some-college    0.190235
Name: over50k, dtype: float64

In [79]:
pd.pivot_table(data=adult, index='education', values='over50k')

education
10th            0.066452
11th            0.051064
12th            0.076212
1st-4th         0.035714
5th-6th         0.048048
7th-8th         0.061920
9th             0.052529
Assoc-acdm      0.248360
Assoc-voc       0.261216
Bachelors       0.414753
Doctorate       0.740920
HS-grad         0.159509
Masters         0.556587
Preschool       0.000000
Prof-school     0.734375
Some-college    0.190235
Name: over50k, dtype: float64

In [80]:
pd.pivot_table(data=adult, index='education', columns='sex', values='over50k', aggfunc=np.mean)

sex             Female      Male
education
10th          0.010169  0.092476
11th          0.018519  0.069987
12th          0.027778  0.100346
1st-4th       0.000000  0.049180
5th-6th       0.023810  0.056225
7th-8th       0.006250  0.080247
9th           0.034722  0.059459
Assoc-acdm    0.133017  0.323529
Assoc-voc     0.134000  0.333333
Bachelors     0.209389  0.503747
Doctorate     0.581395  0.782875
HS-grad       0.066667  0.203769
Masters       0.333955  0.657119
Preschool     0.000000  0.000000
Prof-school   0.456522  0.787190
Some-college  0.070207  0.265329

In [81]:
pd.pivot_table(data=adult, index='education', columns='sex', values='over50k', aggfunc=[np.mean, len])

                  mean              len
sex             Female      Male Female  Male
education
10th          0.010169  0.092476    295   638
11th          0.018519  0.069987    432   743
12th          0.027778  0.100346    144   289
1st-4th       0.000000  0.049180     46   122
5th-6th       0.023810  0.056225     84   249
7th-8th       0.006250  0.080247    160   486
9th           0.034722  0.059459    144   370
Assoc-acdm    0.133017  0.323529    421   646
Assoc-voc     0.134000  0.333333    500   882
Bachelors     0.209389  0.503747   1619  3736
Doctorate     0.581395  0.782875     86   327
HS-grad       0.066667  0.203769   3390  7111
Masters       0.333955  0.657119    536  1187
Preschool     0.000000  0.000000     16    35
Prof-school   0.456522  0.787190     92   484
Some-college  0.070207  0.265329   2806  4485

In [ ]:
d = pd.pivot_table(data=adult, index='education', columns='sex', values='over50k', aggfunc=[np.mean, len])

In [ ]:
d.head()

In [ ]:
# stacking: switching columns to rows
d.stack(level=0).head()

In [ ]:
d.stack(level=1).head()

In [ ]:
d.stack([1,0]).head()

In [ ]:
# unstacking - switching rows to columns
d.stack([1,0]).unstack(0)

# * (4) Misc

### Alignment of dataframes

In [ ]:
df1 = DataFrame(np.arange(6).reshape((3,2)), index=list("abc"), columns=list("xy"))
df2 = DataFrame(np.arange(6).reshape((3,2)), index=list("adc"), columns=list("yz"))
print('df1:\n',df1)
print('df2:\n',df2)

In [ ]:
df1+df2 # if NaN on either side uses NaN

In [ ]:
df1.add(df2,fill_value=0) # if NaN on both side uses NaN

### Missing values

In [ ]:
s = Series([-1, 7, np.nan, np.inf],index = list("ABCD"))

In [ ]:
np.isnan(s)

In [ ]:
s[0]=None
s

In [ ]:
s.isnull()

In [ ]:
s.notnull()

In [ ]:
s == np.nan # Careful: comparison with np.nan always results False!

In [ ]:
# filling missing values
s.fillna(0)

In [ ]:
df = pd.DataFrame(data=[['A',1,2],['B',3,None],['C',None,6]],columns=['col1','col2','col3'])
df

In [ ]:
df.fillna(0)

In [ ]:
# drop rows with NAs
df.dropna()

In [ ]:
# Drop rows manually
df[df['col2'].notnull() & df['col3'].notnull() ]