In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

# (1) Series

### Initialization

In [ ]:
s1 = Series([10,  3,  7,5], index=['a','b','c','d']) # from list
s1

In [ ]:
s2 = Series(np.array([10,  3,  7,5]), index=['a','b','c','d']) # from array
s2

In [ ]:
s3 = Series({'a':10, 'b':3, 'c':7, 'd':5, 'e':6}) # from dictionary
s3

In [ ]:
s4 = Series({'a':10, 'b':3, 'c':7, 'd':5, 'e':6}, index=['a','b']) # initalize with a subset of values
s4

In [ ]:
s5 = Series(s1) # from series
s5

In [ ]:
s6 = Series(5, index=['a','b','c','d','e'])
s6

### Attributes

In [ ]:
s1.index

In [ ]:
s1.dtypes

In [ ]:
s1.values

In [ ]:
s1.shape

In [ ]:
# selection
s1[:3]

In [ ]:
s1['a']

In [ ]:
'a' in s1 # check if 'a' is an index of s1

In [ ]:
# compatibility with numpy

In [ ]:
np.sum(s1)

In [ ]:
1/s1

In [ ]:
s1['x']=9 # setting values
s1

In [ ]:
s1['y']=None # setting null values
s1['z']=np.nan
s1

In [ ]:
s1.isnull()

In [ ]:
del s1['y'] # removing items
s1

## Data alignment

In [ ]:
s1 = Series([1,2,3],index=['a','b','c'])
s2 = Series([40,30,20],index=['d','c','b'])
print('s1\n',s1,'\n')
print('s2\n',s2)

In [ ]:
s1+s2

In [ ]:
s1.add(s2, fill_value=0)

In [ ]:
(s1+s2).dropna()

## (2) DataFrame

In [ ]:
# initalize dataframe using dictionary of columns
data = {'a':[1,2,3], 'b':[1.1,-0.3,7], 'c':[True,False,True], 'd':['these','are','strings']}
df = DataFrame(data, index=['one','two','three'])
df

In [ ]:
# intialize dataframe using matrix representation (list of lists)
d = [[1 ,1.1 ,True ,'these'],[2 ,-0.3 ,False,'are'],[3 ,7.0 ,True ,'strings']]
DataFrame(data=d, columns=['a','b','c','d'],index=['one','two','three'])

In [ ]:
df.index

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
df.shape

In [ ]:
df['a'] # extract column as series

In [ ]:
df['new']=5 # add new column
df

In [ ]:
df['new']=df['a']+df['b'] 
df

In [ ]:
del df['new'] # remove column
df

In [ ]:
s = Series([100, 300, 400], index=['one','three','four'])
df['new from series']=s # create column from series (aligns indexes)
df

In [ ]:
df['new from list']=[7,8,9] # list/array length must be the same
df

In [ ]:
df.insert(3,'new3',[10,11,12])
df

## Exploring data

In [ ]:
df.info()

In [ ]:
df.head(2) # returns a dataframe holding the first two rows

In [ ]:
df.tail(2) # returns a dataframe holding the last two rows

In [ ]:
df.describe() # statistical summary (on numeric values)

### Exploring series

In [ ]:
s = Series(np.random.randint(1,101,1000)) # create a series with 1000 random integers between [1,100]
s.head(5)

In [ ]:
s.describe()

In [ ]:
s.sum()

In [ ]:
s.std()

In [ ]:
s.quantile(0.8)

In [ ]:
s.idxmax()

In [ ]:
s[s.idxmax()]

In [ ]:
s.value_counts()

# (3) Indexing (may skip to the function .ix)
- positional
- label
- boolean
- ix (tries to guess according to the input)

In [ ]:
data = {'grade':[90, 80, 75, 95],
        'age':[25,40,35,32],
        'country':['Mexico','USA','Canada','Bolivia'],
        'major':['Computer science','Electrical engineering','Biology','Political science']}

df = DataFrame(data,index=['Alice','Bob','James','David'])
print(df)

In [ ]:
s = df.age # equivalent to s = df['age']
print(s)

### Selection by label (series)

In [ ]:
# series
s.loc['Alice']

In [ ]:
s.loc[['Alice','David']]

In [ ]:
s.loc['Alice':'James'] # inclusive, by index order (not lexicographically!)

In [ ]:
s['Alice']

### Selection by label (dataframes)

In [ ]:
# dataframes
df.loc['Alice']

In [ ]:
type(df.loc['Alice'])

In [ ]:
df.loc[['Alice','David']]

In [ ]:
type(df.loc[['Alice','David']])

In [ ]:
df.loc['Alice':'James'] # inclusive and not by lexicographical order

In [ ]:
df.loc['Alice':'James',['age','country']] # filter rows and columns

### Selection by position (series)

In [ ]:
print(s)

In [ ]:
s.iloc[2]

In [ ]:
s.iloc[:2] # exclusive (index 2 is not included)

In [ ]:
s.iloc[[0,3]]

### Selection by position (dataframe)

In [ ]:
print(df)
df.iloc[0] # equivalent to df.iloc[0,:]

In [ ]:
df.iloc[0,1] # row 0, column 1

In [ ]:
df.iloc[1:3,1:3] # exclusive

In [ ]:
df.iloc[[0,3],[1,2]] # rows 0,3 and columns 1,2

### Selection by boolean array

In [ ]:
s.loc[s>30]

In [ ]:
df.loc[df.age>30]

In [ ]:
df.loc[df.index.isin(['David','Alice'])]

### Operator[ ]

In [ ]:
s = df.age
s

In [ ]:
s['Alice']

In [ ]:
s['Alice':'Bob']

In [ ]:
s[['Alice','Bob']]

In [ ]:
s[-1]

In [ ]:
s[1:3]

In [ ]:
s = Series([0,1,2],index=[100,101,102]) # expect error - when index is numeric, the operator [] uses index value rather than location
s[1]

In [ ]:
df[df['age']<30]

In [ ]:
df[['age','country']]

## ix

In [ ]:
df

In [ ]:
# return row
df.ix['Alice']

In [ ]:
# multiple rows
df.ix[['Alice','Bob']]

In [ ]:
# multiple rows
df.ix['Alice':'James'] # inclusive (not by lexicographical order)

In [ ]:
# return column (as Series)
df.ix[:,'age']

In [ ]:
# return multiple columns 
df.ix[:,['age','grade']]

In [ ]:
df.ix[1:3,:]  # Postional: rows 1 to 3 (exclusive)

In [ ]:
df.ix[:,1:3] # extract columns 1 and 2

In [ ]:
df.ix[df['grade']>80] # boolean indexing

# Exercise 1

Create a 4x5 array with the values 1..20. Use it to initalize a DataFrame with similar dimensions whose column names are a,b,c,d,e, and whose index values are w,x,y,z.
1.  Print the row whose index is "y"
2.  Print the column whose name is "e"
3.  Print the second row
4.  Print the third column
5.  Print the DataFrame with columns a and d, which contains all indices between w-y

In [ ]:
# write solution here

<br style=margin:500px;>
___

In [ ]:
# solution
a = np.arange(1,21).reshape((4,5))
a

In [ ]:
df = DataFrame(a, index=['w','x','y','z'], columns=list("abcde"))
df

In [ ]:
df.ix["y"]

In [ ]:
df.ix[:,"e"]

In [ ]:
df.ix[1]

In [ ]:
df.ix[:,2]

In [ ]:
df.ix["w":"y",["a","d"]]

# (5) Merging DataFrames

### Motivating example

In [ ]:
df_items = pd.read_csv("items.csv")
df_items

In [ ]:
df_rates = pd.read_csv("exchange_rates_oct18.csv")
df_rates.head(5)

In [ ]:
df_merged = pd.merge(df_items, df_rates, how='left', left_on="currency", right_on="Code")
df_merged

In [ ]:
df_merged['Sales (USD)']=df_merged['price']*df_merged['USD/1Unit']
df_merged

## Column based merging

In [ ]:
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"], "key":['k0','k1','k2']})
df1

In [ ]:
df2 = DataFrame({"C":["C0","C1","C3"], "D":["D0","D1","D3"], "key":['k0','k1','k3']})
df2

### * Join types

In [ ]:
pd.merge(df1, df2, on="key", how="inner") # only indices that exists in both df1 and df2

In [ ]:
pd.merge(df1, df2, on="key", how="outer") # indices that exist in either df1 or df2

In [ ]:
pd.merge(df1, df2, on="key", how="left") # indices from df1

In [ ]:
pd.merge(df1, df2, on="key", how="right") # indices from df2

In [ ]:
# different names for key columns
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"], "key1":['k0','k1','k2']})
print(df1)
df2 = DataFrame({"C":["C0","C1","C3"], "D":["D0","D1","D3"], "key2":['k0','k1','k3']})
print(df2)

In [ ]:
pd.merge(df1,df2,how='inner',left_on="key1", right_on="key2")

In [ ]:
# distinguish between similar column names by adding a suffix
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"], "key":['k0','k1','k2']})
print(df1)
df2 = DataFrame({"A":["C0","C1","C3"], "B":["D0","D1","D3"], "key":['k0','k1','k3']})
print(df2)
pd.merge(df1,df2,how='inner',on="key")

In [ ]:
pd.merge(df1,df2,how='inner',on="key",suffixes=('_tbl1', '_tbl2'))

## * Index based merging

In [ ]:
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"]}, index=['i0','i1','i2'])
print(df1)
df2 = DataFrame({"C":["C0","C1","C3"], "D":["D0","D1","D3"]}, index=['i0','i1','i3'])
print(df2)

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True, how="outer")

# (6) Concatenate

### Vertical concatenation

In [ ]:
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"]})
df2 = DataFrame({"A":["A3","A4","A5"], "B":["B3","B4","B5"]})
print(df1,"\n",df2)

In [ ]:
pd.concat([df1,df2],axis=0)

In [ ]:
# restart index
pd.concat([df1,df2],axis=0,ignore_index=True)

In [ ]:
df3 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"]})
df4 = DataFrame({"A":["A3","A4","A5"], "C":["C3","C4","C5"]})
print(df3,"\n",df4)

In [ ]:
# return columns that exist in both dataframes
pd.concat([df3,df4],axis=0,join='inner')

In [ ]:
# return columns that exist either dataframes
pd.concat([df3,df4],axis=0,join='outer')

### Horizontal concatenation

In [ ]:
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"]}, index=[0,1,2])
df2 = DataFrame({"C":["C0","C1","C3"], "D":["D0","D1","D3"]}, index=[0,1,3])
print(df1,"\n",df2)

In [ ]:
pd.concat([df1,df2],axis=1)

In [ ]:
pd.concat([df1,df2],axis=1,join='inner')

In [ ]:
# Using concat with Series
s1 = Series(['a','b','c'], index=[1,2,3])
s2 = Series(['x','y','z'], index=[1,5,6])

In [ ]:
pd.concat([s1,s2], axis=0) # returns Series

In [ ]:
pd.concat([s1,s2], axis=1) # returns DataFrame

In [ ]:
# concatenate dataframe and series
df1 = DataFrame({"A":["A0","A1","A2"], "B":["B0","B1","B2"]}, index=[0,1,2])
s1 = Series(['x','y','z'],index=[0,1,3])
s1.name='Data from series'
print(df1,'\n\n',s1,'\n\n')
pd.concat([df1,s1],axis=1)

In [ ]:
# difference between merge and concatenate
df1 = DataFrame(['a','b','c','d'],index=[1,1,2,3])
df2 = DataFrame(['x','y','z'],index=[1,1,4])
print(df1,'\n\n',df2)

In [ ]:
pd.merge(left=df1,right=df2,left_index=True,right_index=True)

In [ ]:
pd.concat([df1,df2])

In [ ]:
# concat is not meant for cartesian product - expect an error
pd.concat([df1,df2],axis=1)

---

# Exercise 2

The files grades1.csv, grades2.csv, and grades3.csv contain information about students grades. 
1. Use pandas read_csv command to load each of the files into a separate DataFrame (e.g., pd.read_csv("data/grades1.csv"))
2. Print the DataFrames to screen
3. Consolidate the data into a single dataframe
4. The file 'student_program.csv' contains information about each student program. Create a DataFrame that contains student grades, and program information (where available). Keep records for which the grade is available but the information about the program is missing. 
5. Challange: automate the code to read and process csv files in the current directory that begin with the word 'grades'.

In [ ]:
# write solution here

<br style=margin:500px;>
___

In [ ]:
# solutions to 1 and 2
df1 = pd.read_csv("grades1.csv")
df2 = pd.read_csv("grades2.csv")
df3 = pd.read_csv("grades3.csv")
for df in [df1,df2,df3]:
    print(df,'\n')

In [ ]:
# solution to 3
pd.concat([df1,df2,df3])

In [ ]:
# solution to 4
!cat "student_program.csv"

In [ ]:
df_grades = pd.concat([df1,df2,df3])
df_program = pd.read_csv("student_program.csv")
pd.merge(df_grades,df_program,how="left")

In [ ]:
# solution to 5
file_names = !ls grades*.csv
df_list = list(map(lambda f: pd.read_csv(f), file_names))
pd.concat(df_list).reset_index(drop=True)

---

# (7) Group By

### Split using groupby

In [ ]:
df = DataFrame({"student":["Alice","Alice","Alice","Bob","Bob","Bob"],
                "course":['C1','C2','C3','C1','C2','C3'],
                "hw1":[80,70,90,95,84,60],
                "hw2":[80,90,85,70,100,80],
                "exam":[90,100,60,87,94,88],
                "final":list("AABAAA")},columns=["student","course","hw1","hw2","exam","final"])
df

In [ ]:
# Split by student
grouped = df.groupby('student')

# Conceptually, each group is a dictionary of keys and DataFrames. 
for k,d in grouped:
    print('key:',k)
    print(d,'\n')

In [ ]:
# Split by course
grouped = df.groupby('course')

for k,d in grouped:
    print('key:',k)
    print(d,'\n')

In [ ]:
# get specific group
grouped = df.groupby('course')
grouped.get_group('C2') # equivalent to df[df['course']=='C2']

In [ ]:
df

In [ ]:
# Split by custom column values
grouped = df.groupby([8,8,8,9,8,9])

for k,d in grouped:
    print('key:',k)
    print(d,'\n')

In [ ]:
# group over multiple columns
grouped = df.groupby(['student','course'])

for k,d in grouped:
    print('key:',k)
    print(d,'\n')

In [ ]:
# view groups keys and DataFrame indices
grouped = df.groupby('course')
grouped.groups

In [ ]:
df

In [ ]:
# split horizontally
grouped = df.groupby([1,2,2,1,1,1],axis=1)
for l,d in grouped:
    print('key:',l)
    print(d,'\n')

In [ ]:
df

In [ ]:
# filter out groups

def f(df_):
    # returns true if the average exam grade in a grades dataframe is above 85
    return(np.mean(df_['exam'])>85)

df.groupby('course').filter(f) # equivalently: df.groupby('course').filter(lambda df_:np.mean(df_['exam'])>85)

### Apply-combine using agg

In [ ]:
df

In [ ]:
# average numeric columns in each group
df.groupby('student').agg(np.mean)

In [ ]:
df.groupby('course').agg(np.mean)

In [ ]:
# apply multiple summary functions (returns dataframe with multi-level indexing)
df.groupby('course').agg([np.mean, np.std, max])

In [ ]:
d = df.groupby('course').agg([np.mean, np.std, max])
d['hw1']

In [ ]:
d['hw1']['mean']

In [ ]:
# apply different functions for different columns
df.groupby('course').agg({'hw1':np.mean,
                          'exam':np.max})

### Apply-combine using apply

In [ ]:
df.groupby('course').apply(lambda d:d.describe())

# Exercise 3

The file "iris.data" is one of the most well known datasets, which contains information about the Iris plant. Each row represent an iris, and the columns represent the following attributes: sepal length, sepal width, petal length, petal width, and the class.
1. Construct a DataFrame holding the average value of each attribute per class
2. Construct a DataFrame holding the minimal, average, and maximal values of each attribute per class

Soure: http://archive.ics.uci.edu/ml/datasets/Iris

In [ ]:
# write solution here

<br style=margin:500px;>
___

In [ ]:
iris = pd.read_csv("iris.data", names=['sepal length','sepal width','petal length','petal width','class'])

In [ ]:
iris.head()

In [ ]:
iris.groupby('class').agg(np.mean)

In [ ]:
iris.groupby('class').agg([np.min, np.mean, np.max])

# (8) Pivot table

In [ ]:
# Data source: http://archive.ics.uci.edu/ml/datasets/Adult

adult = pd.read_csv("adult.data", 
                    names=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income'],
                    skipinitialspace=True)

In [ ]:
adult.head()

In [ ]:
adult.describe()

In [ ]:
adult['over50k']=np.array(adult['income']=='>50K',dtype='int')

In [ ]:
adult.groupby('education').agg(np.mean)['over50k']

In [ ]:
pd.pivot_table(data=adult, index='education', values='over50k')

In [ ]:
pd.pivot_table(data=adult, index='education', columns='sex', values='over50k', aggfunc=np.mean)

In [ ]:
pd.pivot_table(data=adult, index='education', columns='sex', values='over50k', aggfunc=[np.mean, len])

In [ ]:
d = pd.pivot_table(data=adult, index='education', columns='sex', values='over50k', aggfunc=[np.mean, len])

In [ ]:
d.head()

In [ ]:
# stacking: switching columns to rows
d.stack(level=0).head()

In [ ]:
d.stack(level=1).head()

In [ ]:
d.stack([1,0]).head()

In [ ]:
# unstacking - switching rows to columns
d.stack([1,0]).unstack(0)

# * (4) Misc

### Alignment of dataframes

In [ ]:
df1 = DataFrame(np.arange(6).reshape((3,2)), index=list("abc"), columns=list("xy"))
df2 = DataFrame(np.arange(6).reshape((3,2)), index=list("adc"), columns=list("yz"))
print('df1:\n',df1)
print('df2:\n',df2)

In [ ]:
df1+df2 # if NaN on either side uses NaN

In [ ]:
df1.add(df2,fill_value=0) # if NaN on both side uses NaN

### Missing values

In [ ]:
s = Series([-1, 7, np.nan, np.inf],index = list("ABCD"))

In [ ]:
np.isnan(s)

In [ ]:
s[0]=None
s

In [ ]:
s.isnull()

In [ ]:
s.notnull()

In [ ]:
s == np.nan # Careful: comparison with np.nan always results False!

In [ ]:
# filling missing values
s.fillna(0)

In [ ]:
df = pd.DataFrame(data=[['A',1,2],['B',3,None],['C',None,6]],columns=['col1','col2','col3'])
df

In [ ]:
df.fillna(0)

In [ ]:
# drop rows with NAs
df.dropna()

In [ ]:
# Drop rows manually
df[df['col2'].notnull() & df['col3'].notnull() ]